@import url("https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap");
@import "tailwindcss";

@theme {
  /* ボディに使う文字色 */
  --color-f-head: #232323; /* 見出しなどで上書き */
  --color-f-body: #222525; /* ボディ全体に適用 */

  /* dull-green ボタン等の指し色 */
  --color-dull-green: #078080;

  /* dull-red ボタン等の指し色 */
  --color-dull-red: #f45d48;

  /* dull-beige メイン背景色 */
  --color-dull-beige: #f8f5f2;

  /* GoogleFontsの導入 */
  --font-yusei: "Yusei Magic", sans-serif;

  /* flash_messageのアニメーション */
  --animate-fadeinout: fadeinout 4s ease-in-out 1;

  @keyframes fadeinout {
    0% {
      transform: translateY(0);
    }
    12.5% {
      transform: translateY(56px);
    }
    87.5% {
      transform: translateY(56px);
    }
    100% {
      transform: translateY(0);
    }
  }
}
