@import "tailwindcss";

@theme {
  /* dull-green ヘッダーフッター等ベースカラー */
  --color-dull-green: #078080;

  /* dull-red ボタン等の指し色 */
  --color-dull-red: #f45d48;

  /* dull-beige メイン背景色 */
  --color-dull-beige: #f8f5f2;

  /* sansの上書き */
  --font-sans: "Zen Maru Gothic", "Hiragino Sans", "Yu Gothic", sans-serif;
}
