@import url("https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap");
@import "tailwindcss";

@theme {
  /* ボディに使う文字色 */
  --color-f-head: #2f2a1f; /* 見出しなどで上書き */
  --color-f-body: #4f4737; /* ボディ全体に適用 */

  /* ボタン等の指し色 */
  --color-dull-green: #6b8f71;

  /* ボタン等の指し色 */
  --color-dull-red: #c8553d;

  /* 「買う」にフィルタリングされるストックの背景色 */
  /* dull-redを500としたときの200相当色 */
  --color-dull-pink: #f5bdb3;

  /* メイン背景色 */
  --color-dull-beige: #d7c9aa;

  /* 「買わない」にフィルタリングされるストックの背景色 */
  --color-dull-sand: #f8f5f2;

  /* GoogleFontsの導入 */
  --font-yusei: "Yusei Magic", sans-serif;

  /* flash_messageのアニメーション */
  --animate-fadeinout: fadeinout 3s ease-in-out 1;

  @keyframes fadeinout {
    0% {
      transform: translateY(0);
    }
    15% {
      transform: translateY(56px);
    }
    85% {
      transform: translateY(56px);
    }
    100% {
      transform: translateY(0);
    }
  }
}

/* 「field_with_errors」にCSSをあてる */
.field_with_errors {
  display: contents;
}
