<% if t.history_exist_quantity.present? %>
  <% if t.history_exist_quantity == 1 %>
    <svg class="size-6 text-dull-green mx-auto" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z"/>
      <polyline points="9 11 12 14 20 6" />
      <path d="M20 12v6a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h9" />
    </svg>
  <% else %>
    <svg class="size-6 text-f-body mx-auto" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z"/>
      <rect x="4" y="4" width="16" height="16" rx="2" />
    </svg>
  <% end %>
<% else %>
  <span><%= "残#{t.history_num_quantity}" %></span>
<% end %>
