<%= render 'shared/modal_wrapper' do %>
  <h2 class="modal-header">新規作成・まとめて追加</h2>

  <div data-controller="templete-select">
    <div class="mb-4">
      <label for="how_to_create" class="modal-label">作成方法</label>
      <%= select_tag :how_to_create,
          options_for_select(@how_to_create),
          prompt: "選択してください",
          data: { action: "change->templete-select#change" },
          class: "modal-input" %>
    </div>
  
    <%= turbo_frame_tag "templete_form_frame" %>
  </div>
<% end %>
