<%= render 'shared/modal_wrapper' do %>
  <h2 class="modal-header">新規作成・まとめて追加</h2>

  <div data-controller="templete-select">
    <div class="mb-4">
      <label for="location_name" class="modal-label">作成方法</label>
      <%= select_tag :location_name,
          options_for_select(@locations_name),
          prompt: "選択してください",
          data: { action: "change->templete-select#change" },
          class: "modal-input" %>
    </div>
  
    <!-- フォームを差し込む枠 -->
    <%= turbo_frame_tag "templete_form_frame" %>
  </div>
<% end %>
