<%= render 'shared/modal_wrapper' do %>
  <h2 class="modal-header">LINEへ転送中</h2>

  <!-- 接続後即座にLIFFが起動 -->
  <div
    data-controller="share-line-messages"
    data-share-line-messages-liff-id-value="<%= ENV['LIFF_ID'] %>"
    data-share-line-messages-message-value="<%= @form.message %>"
  ></div>

  <p class="mb-4">
    LINEアプリ上で送信相手を選択してください。<br>
    転送先は自由に選択できますが、<span class="text-dull-red">誤送信にご注意ください。</span>
  </p>

  <p class="mb-4">送信後は「閉じる」ボタンでこの画面を閉じてください。</p>
  <div class="w-full mt-8 mb-4 mx-auto text-center cursor-pointer">
    <span class="px-4 py-2 bg-dull-green text-white rounded shadow-lg" data-action="click->modal-frame#hideModal">
      閉じる
    </span>
  </div>
<% end %>
