<%= render 'shared/modal_wrapper' do %>
  <h2 class="modal-header">プライバシーポリシー</h2>

  <section class="w-full p-4 text-base text-f-body">
    <article class="space-y-8">
      <section>
        <div class="mb-4">
          <p class="text-sm text-gray-600">最終更新日：2025年10月13日</p>
        </div>
        <div>
          <p class="mb-4">
            「Attakke?」（以下、「本サービス」といいます。）は、ユーザーの個人情報の保護を重要な責務と認識し、以下の方針に基づき適切に取り扱います。
          </p>
        </div>
      </section>

      <% @privacy.each do |p| %>
        <%= raw p["comment"] %>
        <section class="mt-8 mb-4">
          <h2 class="text-lg font-bold mb-2 border-b-2"><%= p["title"] %></h2>
          <%= raw p["body"] %>
        </section>
      <% end %>

      <!-- 閉じる -->
      <div class="w-full mt-8 mx-auto text-center cursor-pointer">
        <span class="px-4 py-2 bg-dull-green text-white rounded shadow-lg" data-action="click->modal-frame#hideModal">
          閉じる
        </span>
      </div>
    </article>
  </section>
<% end %>
