<%= render 'shared/modal_wrapper' do %>
  <h2 class="modal-header">利用規約</h2>

  <section class="w-full p-4 text-base text-f-body">
    <article class="space-y-8">
      <section>
        <div class="mb-4">
          <p class="text-sm text-gray-600">最終更新日：2025年10月13日</p>
        </div>
        <div>
          <p class="mb-4">
            「Attakke?」（以下、「本サービス」といいます。）は、ユーザーの皆様に快適かつ安全にご利用いただくため、以下の利用規約（以下、「本規約」といいます。）を定めます。
            本サービスをご利用いただく際には、本規約に同意したものとみなします。
          </p>
        </div>
      </section>

      <% @terms.each do |term| %>
        <%= raw term["comment"] %>
        <section class="mt-8 mb-4">
          <h2 class="text-lg font-bold mb-2 border-b-2"><%= term["title"] %></h2>
          <%= raw term["body"] %>
        </section>
      <% end %>

      <!-- 閉じる -->
      <div class="w-full mt-8 mx-auto text-center cursor-pointer">
        <span class="px-4 py-2 bg-dull-green text-white rounded shadow-lg" data-action="click->modal-frame#hideModal">
          閉じる
        </span>
      </div>
    </article>
  </section>
<% end %>
