<%= render 'shared/modal_wrapper' do %>
  <h2 class="modal-header">チュートリアル</h2>

  <article class="w-full p-4 text-base text-f-body">
    <% @tutorials.each do |tutorial| %>
      <%= raw tutorial["comment"] %>
      <details class="p-2 border border-f-body rounded mb-4">
        <summary class="text-lg font-bold cursor-pointer"><%= tutorial["title"] %></summary>
        <section class="p-2 mt-2 border-t-1 border-f-body">
          <%= render partial: tutorial["partial"] %>
        </section>
      </details>
    <% end %>

    <!-- 閉じる -->
    <div class="w-full mt-8 mx-auto text-center cursor-pointer">
      <span class="px-4 py-2 bg-dull-green text-white rounded shadow-lg" data-action="click->modal-frame#hideModal">
        閉じる
      </span>
    </div>
  </article>
<% end %>
