<div id="index" class="container mx-auto absolute top-18 md:top-24">
  <section class="w-full py-10 md:py-16 flex-col justify-center">
    <div class="mb-4">
      <%= image_tag 'logo_svg.svg', class: "w-300px md:w-480px mx-auto h-25 md:h-40 border-box border border-gray-700 rounded-xl shadow-lg" %>
    </div>
    <div class="w-4/5 max-w-600px mx-auto text-center text-lg md:text-2xl">
      「<span class="text-dull-red font-bold">あったっけ？</span>」は<br>
      ご家庭の消耗品ストックを可視化し<br>
      買いすぎや買い忘れを防止する<br>
      ストック管理アプリです
    </div>
  </section>

  <section class="w-4/5 mx-auto mb-10">
    <h2 class="font-bold text-xl md:text-2xl">機能紹介</h2>
    <%# NOTE:最後にborder-1を外す %>
    <div class="grid grid-cols-1 md:grid-cols-2 grid-rows-12 md:grid-rows-8 border-1 px-2">
      <div class="col-span-1 md:col-span-2 font-bold text-lg md:text-xl py-2">
        <span class="bg-dull-green text-white rounded-full size-18px md:size-5 mr-2">１</span>
        選べる管理型
      </div>
      <div>1</div>
      <div>2</div>
      <div class="col-span-1 md:col-span-2 font-bold text-lg md:text-xl py-2">
        <span class="bg-dull-green text-white rounded-full size-5 md:size-6 mr-2">２</span>
        場所ごとに管理
      </div>
      <div>1</div>
      <div>2</div>
      <div class="col-span-1 md:col-span-2 font-bold text-lg md:text-xl py-2">
        <span class="bg-dull-green text-white rounded-full size-5 md:size-6 mr-2">３</span>
        テンプレートで楽々入力
      </div>
      <div>1</div>
      <div>2</div>
      <div class="col-span-1 md:col-span-2 font-bold text-lg md:text-xl py-2">
        <span class="bg-dull-green text-white rounded-full size-5 md:size-6 mr-2">４</span>
        購入履歴で更新漏れにも対応
      </div>
      <div>1</div>
      <div>2</div>
    </div>
  </section>
</div>
