<div class="container mx-auto absolute top-24">
  <section class="pl-4 pt-16">
    <h2 class="font-bold text-2xl">これってまだ家に<span class="text-4xl text-dull-red">あったっけ？</span></h2>
    <div class="my-6">
      <p>買い物先でまだ家にストックがあったか分からない…</p>
      <p>でもメモアプリで管理するのは入力や更新が面倒…</p>
      <p>そんな経験ありませんか？</p>
    </div>
    <p><span class="text-4xl text-dull-red">Attakke？</span>には簡単にストックを管理・更新できる機能が備わっています！<br>
      アプリを活用して買い物上手を目指しましょう！</p>
  </section>

  <section class="pl-4 mt-4">
    <h2 class="font-bold text-2xl">機能紹介</h2>
    <ul class="mx-2">
      <li>
        <h3 class="font-bold">１選べる管理型</h3>
        <p>ストックのタイプに合った型で管理することができます！</p>
        <p>管理したいものに合わせて型を選びましょう！</p>
      </li>
      <li>
        <h3 class="font-bold">２場所ごとに管理</h3>
        <p>ストックの保管場所は決まっていますか？</p>
        <p>アプリ上でも保管場所ごとにストックを管理することで状態を把握しやすくなります！</p>
      </li>
      <li>
        <h3 class="font-bold">３テンプレートで楽々入力</h3>
        <p>キッチン用品はキッチン付近など、ストックと保管場所には近い関係がありませんか？</p>
        <p>テンプレート入力で面倒な入力作業を簡単に終わらせてしまいましょう！</p>
      </li>
      <li>
        <h3 class="font-bold">４購入履歴で更新漏れにも対応</h3>
        <p>ストックを補充したけど、ついつい更新するのを忘れてしまう…</p>
        <p>でも大丈夫！ストックごとに更新履歴が残るので、前回いつ更新したのかを確認することができます！</p>
      </li>
    </ul>
  </section>
</div>
