<p class="mb-2">
  ヘッダー右上のメニューからパートナー設定画面にアクセスできます。
</p>
<p class="mb-2">
  パートナーは１人まで設定でき、設定するとパートナーと保管場所・ストックの状況が共有されます。
</p>
<%= image_tag "tutorial_6.svg", class: "w-auto mx-auto mb-2" %>
<p class="mb-2">
  リアルタイムで同期されますので、出先で同じ画面を確認しながら、買い物をすることができます。<br>
  例えば、ストックの状態をチェックなしからチェックありへ更新した場合、パートナーの画面にもチェックが即座に反映されます。
</p>
<div class="mb-2 text-dull-red">
  <div class="flex items-center space-x-2 mb-1">
    <svg class="size-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"/>
    </svg>
    <p>注意事項</p>
  </div>
  <p>現在、パートナー設定を解除する機能はありません。ご了承ください。</p>
</div>
