<p class="mb-2">画面下部にあるボタンから保管場所の一覧を確認できます。</p>
<%= image_tag "tutorial_5.svg", class: "w-auto mx-auto mb-2" %>
<p class="mb-2">
  表示された保管場所名をタップすると、その保管場所がページトップに来るようにスクロールされます。
  保管場所が増えてきて、一目で探すことが難しくなってきたときに便利です。
</p>
