<p class="mb-2">買いものリスト画面の下部にあるボタンからリストの情報をLINEへ転送できます。</p>
<%= image_tag "tutorial/tutorial_9.svg", class: "w-auto mx-auto mb-2" %>

<p class="mb-1">表示される画面上で送信メッセージを編集することができます。</p>

<details class="p-2 border border-f-body rounded mb-4">
  <summary class="modal-label cursor-pointer">送信メッセージのイメージ</summary>
  <div class="p-2 mt-2 border-t-1 border-f-body">
    <p>
      【消耗品管理アプリ | Attakke】<br>
      パートナーから買いものお願い依頼が来ました！<br>
      これを買ってきてほしいみたいです👇<br>
      ・ゴミ袋<br>
      ・醤油<br>
      アプリをお使いの場合は、以下のリンクから買いものリストの確認ができます！
    </p>
  </div>
</details>

<p class="mb-2">
  <span class="text-dull-red">初回転送時にはLINEログイン画面が起動</span>しますので、ログインを行ってください。<br>
  その後、メッセージを転送するユーザーを選択できます。<br>
  LINEユーザーであれば誰にでも転送できてしまいますので、<span class="text-dull-red">誤送信にご注意ください。</span>
</p>
