<p class="mb-2">
  <span class="text-dull-red">保管場所名やストック名をタップ</span>すると編集画面が表示されます。
  編集画面では状態の更新や削除が可能です。
</p>
<p class="mb-2">ストック編集画面では更新履歴を確認することもできます。</p>
<%= image_tag "top_4.svg", class: "w-auto mx-auto rounded mb-2" %>
<p class="mb-2">
  また、チェックボックスで管理しているストックは、アイコンをタップすることで状態を更新できます。
  残数で管理しているストックは、残数をタップすると編集画面が表示されます。
</p>
