<div class="mb-4 text-dull-red">
  <div class="flex items-center space-x-2 mb-1">
    <svg class="size-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"/>
    </svg>
    <p>注意事項</p>
  </div>
  <p>現在、パートナー設定を解除する機能はありません。ご了承ください。</p>
</div>

<p class="mb-2">
  スライドメニューの「
  <svg class="inline align-middle size-5 text-f-body" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
    <path stroke="none" d="M0 0h24v24H0z" /><circle cx="9" cy="7" r="4" /><path d="M3 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" /><path d="M16 3.13a4 4 0 0 1 0 7.75" /><path d="M21 21v-2a4 4 0 0 0 -3 -3.85" />
  </svg>
  パートナー設定」からパートナーに設定したユーザーへ申請を送ることができます。
</p>

<p class="mb-2">申請フォームの入力欄には、パートナーに設定したいユーザーの<span class="text-dull-red">本アプリに登録済のメールアドレスを入力</span>してください。</p>

<p>パートナーは１人まで設定でき、保管場所・ストックの状況を共有することができます。</p>
