<p class="mb-2">
  ストック一覧画面では、ヘッダーにある
  <span class="inline-flex items-center justify-center size-5 rounded-full shadow-sm bg-white text-dull-red align-middle mx-1">
    <svg class="size-4" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z"/><path d="M3 9l4-4l4 4m-4 -4v14" /><path d="M21 15l-4 4l-4-4m4 4v-14" />
    </svg>
  </span>
  からストックの並び替えができます。
</p>

<%= image_tag "tutorial/tutorial_6.svg", class: "w-auto mx-auto mb-2" %>

<p>
  並べ替え中は<span class="text-dull-red">保管場所の変更（配置換え）も可能</span>です。
  並べ替えアイコンを押しながら、移動したい保管場所までスライドしてください。
</p>
