<div class="mb-2 text-dull-red">
  <div class="flex items-center space-x-2 mb-1">
    <svg class="size-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"/>
    </svg>
    <p>注意事項</p>
  </div>
  <p>現在、パートナー設定を解除する機能はありません。ご了承ください。</p>
</div>

<p class="mb-2">パートナーは１人まで設定でき、設定するとパートナーと保管場所・ストックの状況が共有されます。</p>

<p class="mb-1">
  パートナーに対して「おねがい通知」を送ることができます。<br>
  アプリを確認して買い物をしてほしいなと優しくお願いする機能です。
</p>

<p>＜通知イメージ＞</p>
<%= image_tag "tutorial/tutorial_8.png", class: "w-auto mx-auto mb-1" %>
<p>※ アプリやブラウザの通知をオフにしていると届かない可能性があります。</p>
