<div class="text-2xl font-bold text-f-head">ストック履歴（直近１０件）</div>
<table>
  <tbody>
  <% histories.each do |history| %>
    <tr>
      <td class="w-1/10"><%= history.recording_date.strftime("%Y/%m/%d") %></td>
      <td class="w-1/10"><%= history.status %></td>
      <td class="w-1/10"><%= "#{history.num_quantity}個" if history.num_quantity.present? %></td>
    </tr>
  <% end %>
  </tbody>
</table>
