<div id="list_type_bar">
  <%# NOTE: フィルターボタンのデザインをヘルパー決めて返す %>
  <% button_design = set_button_design(current_list_type_value) %>

  <div class="flex items-center justify-center divide-x-1">
    <%= link_to stocks_path(list_type: "all"),
      data: { turbo_stream: true },
      class: "basis-1/2 flex items-center justify-center space-x-1 p-1 rounded-t-lg #{button_design[:all]}" do %>
      <svg class="size-6" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <line x1="8" y1="6" x2="21" y2="6" /><line x1="8" y1="12" x2="21" y2="12" /><line x1="8" y1="18" x2="21" y2="18" /><line x1="3" y1="6" x2="3.01" y2="6" /><line x1="3" y1="12" x2="3.01" y2="12" /><line x1="3" y1="18" x2="3.01" y2="18" />
      </svg>
      <p>ストック一覧</p>
    <% end %>
    <%= link_to stocks_path(list_type: "shopping"),
      data: { turbo_stream: true },
      class: "basis-1/2 flex items-center justify-center space-x-1 p-1 rounded-t-lg #{button_design[:shopping]}" do %>
      <svg class="size-6" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z"/>  <circle cx="9" cy="19" r="2" /><circle cx="17" cy="19" r="2" /><path d="M3 3h2l2 12a3 3 0 0 0 3 2h7a3 3 0 0 0 3 -2l1 -7h-15.2" />
      </svg>
      <p>買いものリスト</p>
    <% end %>
  </div>
</div>
