<!-- 背景 -->
<div
  data-controller="confirm"
  data-confirm-target="modal"
  data-action="click->confirm#clickOutside"
  class="fixed inset-0 bg-black/50 flex items-center justify-center hidden z-50"
>

  <!-- 確認メッセージ -->
  <div data-confirm-target="dialog" class="w-sm bg-white p-4 rounded shadow">
    <div class="flex justify-end item-center mb-2" data-action="click->confirm#hideModal">
      <svg class="size-6 text-gray-700" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z"/>
        <line x1="18" y1="6" x2="6" y2="18" /><line x1="6" y1="6" x2="18" y2="18" />
      </svg>
    </div>
    <p data-confirm-target="message" class="mb-4 text-base md:text-lg"></p>

    <!-- ボタン -->
    <div class="flex item-center space-x-4">
      <button
        type="button"
        data-confirm-target="confirmButton"
        data-action="click->confirm#confirm"
        class="basis-1/2 text-lg p-2 bg-dull-red rounded hover:brightness-70"
      >
      <%# ここに confirm_button_text で指定したテキストが入る。デフォルトは「削除」 %>
      </button>
      <button
        type="button"
        data-confirm-target="cancelButton"
        data-action="click->confirm#cancel"
        class="basis-1/2 text-lg p-2 bg-gray-300 rounded hover:bg-gray-400"
      >
        キャンセル
      </button>
    </div>
  </div>
</div>
