<%= turbo_frame_tag 'flash' do %>
  <% flash.each do |type, message| %>
    <%
      case type.to_s
      when "success"
        color = "bg-green-100 text-green-800"
      when "error"
        color = "bg-red-100 text-red-800"
      else
        color = "bg-gray-100 text-gray-800"
      end
    %>
    <div data-controller="flash" class="fixed items-center animate-fadeinout px-4 top-4 md:top-9 z-40 w-full">
      <div class="container mx-auto">
        <div data-flash-target="close" data-action="click->flash#close" class="flex items-center w-full md:w-1/2 mx-0 md:mx-auto h-10 text-center mt-2 p-1 rounded shadow-md <%= color %>">
          <span class="w-full mx-auto"><%= message %></span>
          <svg class="size-5 ml-auto" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <line x1="18" y1="6" x2="6" y2="18" /><line x1="6" y1="6" x2="18" y2="18" />
          </svg>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
