<footer class="fixed bottom-0 left-0 w-full bg-dull-green">
  <div class=" container mx-auto px-6 py-4 w-full">
    <div class="flex items-center justify-between">
      <div class="text-white">© 2025 nomukuuun</div>
      <%= link_to "プライバシーポリシー(準備中)", '#', class: "text-white" %>
    </div>
  </div>
</footer>
