<%= turbo_frame_tag 'modal_frame' do %>
  <!-- 背景 -->
  <div data-controller="modal-frame"
       data-modal-frame-target="modal"
       data-action="click->modal-frame#clickOutside"
       class="fixed inset-0 bg-black/50 flex flex-col justify-center items-center z-60"
  >
    <!-- 閉じるボタン -->
    <div class="w-sm mb-2 flex justify-end items-center" data-action="click->modal-frame#hideModal">
      <span class="bg-white size-10 rounded-full flex items-center justify-center cursor-pointer">
        <svg class="size-6 text-gray-700" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z"/>
          <line x1="18" y1="6" x2="6" y2="18" /><line x1="6" y1="6" x2="18" y2="18" />
        </svg>
      </span>
    </div>

    <!-- ダイアログ -->
    <div data-modal-frame-target="dialog"
         data-action="click->modal-frame#stopPropagation"
         class="w-sm max-h-3/4 bg-dull-green pt-4 rounded shadow overflow-auto">

      <%# NOTE: yield には各アクションのビューが入る %>
      <div class="w-full bg-white px-4 pb-4">
        <%= yield %>
      </div>

    </div>
  </div>
<% end %>
