<h2 class="text-xl font-bold text-f-head mb-3">パートナー情報</h2>

<div class="text-center bg-dull-beige border-2 border-gray-600 rounded w-full p-4">
  <p><%= current_user.active_partner.name %> さん</p>
</div>

<div class="my-6">
  <p>
    保管場所やストック情報が共有されています。
  </p>
</div>

<%#= button_to "ペアを解除する", partnerships_path,
  data: { turbo_method: :delete, action: "turbo:submit-end->modal-frame#hideModal" },
  class: "w-full text-lg text-f-body bg-dull-red rounded p-2 hover:brightness-70"
%>
