<h2 class="text-xl font-bold text-dull-green mb-3">パートナー申請が来ています！</h2>

<p><strong><%= current_user.partner.name %></strong> さんより</p>
<p>パートナー申請が届いています！</p>

<div class="mt-3 mb-6">
  <p class="mb-3">パートナーに設定すると以下の操作が可能になります。</p>
  <p>パートナーの登録した</p>
  <ul class="bg-dull-beige border-gray-600 border-2 rounded p-2">
    <li>保管場所・ストックの確認</li>
    <li>保管場所の編集・削除</li>
    <li>ストックの編集・削除</li>
  </ul>
</div>

<div class="flex items-center text-center space-x-2 mb-3">
  <div class="basis-1/2">
    <%= button_to "承諾する", partnerships_path,
      method: :put,
      data: { turbo_method: :put, action: "click->modal_flame#hideModal", turbo_confirm: t('defaults.confirm.partnership.approve'), confirm_button_text: "ＯＫ" },
      class: "w-full text-lg text-f-body bg-dull-red rounded p-2 hover:brightness-70"
    %>
  </div>
  <div class="basis-1/2">
    <%= button_to "拒否する", reject_partnerships_path,
      method: :delete,
      data: { turbo_method: :delete, action: "click->modal_flame#hideModal", turbo_confirm: t('defaults.confirm.partnership.reject'), confirm_button_text: "ＯＫ" },
      class: "w-full text-lg text-f-body bg-gray-300 rounded p-2 hover:bg-gray-400"
    %>
  </div>
</div>

<p>※ 申請を拒否しても相手に通知は届きません。</p>
<p>※ <%= l partnership.expires_at %> に申請は自動拒否されます。</p>
