<%= form_with url: partnerships_path, method: :post, data: { action: "turbo:submit-end->modal-frame#close" } do |f| %>
  <p>パートナー申請を送るユーザーのアドレスを入力してください。</p>
  <p>なお、送信先は<strong>本アプリに登録済のアドレス</strong>である必要があります。</p>
  <div class="my-6">
    <%= f.label :email, "Gmailアドレス",class: "text-xl font-bold text-f-head" %>
    <div class="flex items-center space-x-2">
      <%= f.text_field :email, placeholder: "入力してください", class: "bg-white border-black border rounded p-2 w-7/10" %>
      <p class="text-lg text-gray-600">@gmail.com</p>
    </div>
  </div>
  <%= f.submit "送信", class: "w-full text-lg text-f-body bg-dull-red rounded p-2 hover:brightness-70" %>
<% end %>
