<h2 class="modal-header">パートナー申請中</h2>

<p>パートナー申請を送信しました！</p>
<p><%= current_user.active_partner.name %> さんの返答を待っています。</p>

<div class="my-6">
  <p>以下のいずれかを満たすまで再申請はできません。</p>
  <ul class="bg-dull-beige rounded p-2">
    <li><%= current_user.active_partner.name %> さんが返答した場合</li>
    <li>あなたが申請を取り下げた場合</li>
    <li><%= l partnership.expires_at, format: :time %>を経過した場合</li>
  </ul>
</div>

<%= button_to "申請を取り下げる", partnerships_path,
  method: :delete,
  form: { data: { action: "turbo:submit-end->modal-frame#close", turbo_confirm: t('defaults.confirm.partnership.withdrawal'), confirm_button_text: "ＯＫ" } },
  class: "modal-submit w-full"
%>
