<div class="px-4">
  <div class="w-full py-10 md:py-16">
    <%= image_tag 'logo.svg', class: "w-[300px] md:w-[480px] mx-auto border-box border border-gray-700 rounded-xl shadow-lg" %>
  </div>

  <div class="py-10">
    <p>以下のいずれかの理由によりパートナー申請ページを表示できませんでした。</p>
    <div class="bg-white rounded border-2 border-gray-600">
      <ul class="list-disc px-8 py-4">
        <li>すでに申請を承諾または拒否している</li>
        <li>申請者が申請を取り下げている</li>
        <li>リンクの有効期限が切れている</li>
      </ul>
    </div>
  </div>

  <div>
    <p>申し訳ございませんが、<%= link_to 'トップページ', root_url, class: "font-bold text-dull-green underline" %> からログインの上ご確認ください。</p>
  </div>
</div>
