<div class="px-4">
  <div class="w-full py-10 md:py-16">
    <%= image_tag 'logo.svg', class: "w-[300px] md:w-[480px] mx-auto border-box border border-gray-700 rounded-xl shadow-lg" %>
  </div>

  <div class="text-xl">
    <p><strong><%= @partner.name %></strong> さんからの</p>
    <p>パートナー申請を承諾しました！</p>
  </div>

  <div class="py-10">
    <p class="pb-3">お互いに以下の操作が可能になりました！</p>
    <p>パートナーの登録した</p>
    <ul class="bg-white border-gray-600 border-2 rounded p-2">
      <li>保管場所・ストックの確認</li>
      <li>保管場所の編集・削除</li>
      <li>ストックの編集・削除</li>
    </ul>
  </div>
    <p><%= link_to 'こちら', root_url, class: "font-bold text-dull-green underline" %> からログインして確認してみましょう！</p>
</div>
